/** @format */

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fffbcb;
    width: 100wh;
    height: 100vh;
}

.sound-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* background-color: #ED5485; */
}
.drum-pad {
    border: 1px solid #57d1c9;
    border-radius: 15%;
    box-shadow: 3px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}
.window {
    display: flex;
    margin: 10px;
    border: 1px solid white;
    border-radius: 5%;
    box-shadow: 3px;
    background-color: #ed5485;
    width: 150px;
    height: 50px;
    justify-content: center;
    align-items: center;
    
}
